<!-- entete -->
<div class="d-flex align-items-center justify-content-between">
  <div class="fs-1">Les StateMotionSystems - {{les_stateMotionSystems.length}}</div>
  <div class="d-flex">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_add_stateMotionSystem">Ajouter
      StateMotionSystem</button>
  </div>
</div>
<!-- list -->
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">state</th>
        <th scope="col">actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let one_stateMotionSystem of les_stateMotionSystems">
        <td>{{one_stateMotionSystem.id_stateMotionSystem}}</td>
        <td>{{one_stateMotionSystem.state}}</td>
        <td>
          <div class="dropdown">
            <button [disabled]="loading_delete_stateMotionSystem" type="button"
              class="btn p-0 dropdown-toggle hide-arrow"
              data-bs-toggle="dropdown">{{loading_delete_stateMotionSystem?"en cours ...":"actions"}}</button>
            <div class="dropdown-menu">
              <a (click)="on_click_edit(one_stateMotionSystem)" class="dropdown-item" data-bs-toggle="modal"
                data-bs-target="#modal_edit_stateMotionSystem">
                <i class="bx bx-edit-alt me-1"></i>
                Modifier
              </a>
              <a class="dropdown-item" href="javascript:void(0);"
                (click)=delete_stateMotionSystem({id_stateMotionSystem:one_stateMotionSystem.id_stateMotionSystem})><i
                  class="bx bx-trash me-1"></i>Supprimer</a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- ajout -->
<div class="modal fade" id="modal_add_stateMotionSystem" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header " data-bs-theme="dark">
        <h1 class="modal-title fs-5">Ajouter StateMotionSystem</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-add-state-motion-system (cb_add_stateMotionSystem)="after_add($event)"></app-add-state-motion-system>
      </div>
    </div>
  </div>
</div>
<!-- modification -->
<div class="modal fade" id="modal_edit_stateMotionSystem" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header" data-bs-theme="dark">
        <h1 class="modal-title fs-5">Modifier StateMotionSystem</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="on_close_modal_edit()"></button>
      </div>
      <div class="modal-body">
        <app-edit-state-motion-system *ngIf="stateMotionSystem_to_edit" (cb_edit_stateMotionSystem)="after_edit($event)"
          [stateMotionSystem_to_edit]="stateMotionSystem_to_edit"></app-edit-state-motion-system>
      </div>
    </div>
  </div>
</div>