<form [formGroup]="reactiveForm_add_user " (ngSubmit)="onSubmit_add_user ()" #form_add_user="ngForm" class="row">

    <!-- firstName field avec un control de validite -->
    <div class="form-group col-sm-6">
        <label>firstName</label>
        <input class="form-control" type="text" formControlName="firstName" placeholder="firstName"
            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required"> firstName est obligatoire </div>
        </div>
    </div>
    <!-- lastName field avec un control de validite -->
    <div class="form-group col-sm-6">
        <label>lastName</label>
        <input class="form-control" type="text" formControlName="lastName" placeholder="lastName"
            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required"> lastName est obligatoire </div>
        </div>
    </div>
    <!-- email field avec un control de validite -->
    <div class="form-group col-sm-6">
        <label>email</label>
        <input class="form-control" type="text" formControlName="email" placeholder="email"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required"> email est obligatoire </div>
        </div>
    </div>
    <!-- password field avec un control de validite -->
    <div class="form-group col-sm-6">
        <label>password</label>
        <input class="form-control" type="text" formControlName="password" placeholder="password"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required"> password est obligatoire </div>
        </div>
    </div>
    <!-- phone field avec un control de validite -->
    <div class="form-group col-sm-6">
        <label>phone</label>
        <input class="form-control" type="text" formControlName="phone" placeholder="phone"
            [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
            <div *ngIf="f.phone.errors.required"> phone est obligatoire </div>
        </div>
    </div>
    <!-- relationship field avec un control de validite -->
    <div class="form-group col-sm-6">
        <label>relationship</label>
        <input class="form-control" type="text" formControlName="relationship" placeholder="relationship"
            [ngClass]="{ 'is-invalid': submitted && f.relationship.errors }" />
        <div *ngIf="submitted && f.relationship.errors" class="invalid-feedback">
            <div *ngIf="f.relationship.errors.required"> relationship est obligatoire </div>
        </div>
    </div>
    <!-- <div class="form-group col-sm-6">
        <label>authority</label>
        <select [ngClass]="{ 'is-invalid': submitted && f.authority_id.errors }" class="form-select"
            formControlName="authority_id">
            <option value="">Sélectionnez un(e) authority</option>
            <option [value]="one_authority.authority_id" *ngFor="let one_authority of form_details.les_authoritys">
                {{"authority N°"+one_authority.authority_id}}</option>
        </select>
        <div *ngIf="submitted && f.authority_id.errors" class="invalid-feedback">
            <div *ngIf="f.authority_id.errors.required">ce champ est obligatoire</div>
        </div>
    </div> -->
</form>
<!-- vous pouvez valider votre formulaire n'importe ou -->

<div class="text-center m-2">
    <button type="button" class="btn btn-primary m-2" [disabled]="loading_add_user "
        (click)="form_add_user .ngSubmit.emit()">{{loading_add_user ?"En cours ...":"Valider"}}</button>
    <button class="btn btn-secondary m-2" type="reset" (click)="onReset_add_user ()">Vider</button>
</div>