<!-- <div class="container"> -->

<!-- list -->
<div class="container">
  <div class="table-responsive">
    <table class="table table-bordered caption-top">
      <caption>
        <h1 class="mt-5"><strong>GESTION DES PORTES</strong></h1>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          @if (authority_id == 1) {
          <button class="btn btn-outline-primary" data-bs-toggle="modal"
            data-bs-target="#modal_add_doorstatus">Ajout</button>
          }
          <button class="btn btn-outline-info" data-bs-toggle="modal"
            data-bs-target="#modal_historique_doorstatus">Historique</button>
        </div>
      </caption>
      <thead class="table-dark">
        <tr>
          <th scope="col">Porte</th>
          <th scope="col">state</th>
          <th scope="col">change</th>
          @if (authority_id == 1) {
          <th scope="col">actions</th>
          }
        </tr>
      </thead>
      <tbody>
        @if(!api.latestSensorData || !api.latestSensorData.doors){
        <tr *ngFor="let one_doorstatus of api.les_doorstatuss">
          <td>
            <div class="frameDoor">
              <div class="door door1 " style="float:left" [ngClass]="{'doorOpen1' : one_doorstatus.state == 'opened' }">
                <img [src]="one_doorstatus.pic">
              </div>
              <div class="door door2" style="float:right" [ngClass]="{'doorOpen2' : one_doorstatus.state == 'opened'}">
                <img [src]="one_doorstatus.pic">
              </div>
            </div>
            <div class="text-center">{{one_doorstatus.name}}</div>
          </td>
          <td>{{one_doorstatus.state}}</td>
          <td>
            <button class="btn btn-outline-info" (click)="on_click_edit(one_doorstatus)">
              {{one_doorstatus.state == "opened"? "closed" : "opened"}}
            </button>
          </td>
          @if (authority_id == 1) {
          <td>
            <button class="btn btn-outline-danger" href="javascript:void(0);"
              (click)=delete_doorstatus({id:one_doorstatus.id})><i class="bi bi-trash"></i></button>
          </td>
          }
        </tr>
        }@if (api.latestSensorData && api.latestSensorData.doors.length > 0) {
        <tr *ngFor="let one_doorstatus of api.les_doorstatuss">
          @for (item of api.latestSensorData.doors; track $index){
          @if (item.idDoor == one_doorstatus.id){
          <td>
            <div class="frameDoor">
              <div class="door door1 " style="float:left" [ngClass]="{'doorOpen1' : item.stateDoor == 'opened' }">
                <img src="../../../../assets/backdoor.jpg">
              </div>
              <div class="door door2" style="float:right" [ngClass]="{'doorOpen2' : item.stateDoor == 'opened'}">
                <img src="../../../../assets/backdoor.jpg">
              </div>
            </div>
            <div class="text-center">{{item.nameDoor}}</div>
          </td>
          <td>{{item.stateDoor}}</td>
          <td>
            <button class="btn btn-outline-info" (click)="on_click_edit(item)">
              {{item.stateDoor == "opened"? "closed" : "opened"}}
            </button>
          </td>
          @if (authority_id == 1) {
          <td>
            <button class="btn btn-outline-danger" href="javascript:void(0);"
              (click)=delete_doorstatus({id:item.idDoor})><i class="bi bi-trash"></i></button>
          </td>
          }
          }@if (item.idDoor !== one_doorstatus.id){
          <td>
            <div class="frameDoor">
              <div class="door door1 " style="float:left" [ngClass]="{'doorOpen1' : one_doorstatus.state == 'opened' }">
                <img [src]="one_doorstatus.pic">
              </div>
              <div class="door door2" style="float:right" [ngClass]="{'doorOpen2' : one_doorstatus.state == 'opened'}">
                <img [src]="one_doorstatus.pic">
              </div>
            </div>
            <div class="text-center">{{one_doorstatus.name}}</div>
          </td>
          <td>{{one_doorstatus.state}}</td>
          <td>
            <button class="btn btn-outline-info" (click)="on_click_edit(one_doorstatus)">
              {{one_doorstatus.state == "opened"? "closed" : "opened"}}
            </button>
          </td>
          @if (authority_id == 1) {
          <td>
            <button class="btn btn-outline-danger" href="javascript:void(0);"
              (click)=delete_doorstatus({id:one_doorstatus.id})><i class="bi bi-trash"></i></button>
          </td>
          }
          }
          }
        </tr>

        }
      </tbody>
    </table>


  </div>

  <!-- ajout -->
  <div class="modal fade" id="modal_add_doorstatus" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header ">
          <h1 class="modal-title fs-5">Ajouter Doorstatus</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeDoorModal></button>
        </div>
        <div class="modal-body">
          <app-add-doorstatus (cb_add_doorstatus)="after_add($event)"></app-add-doorstatus>
        </div>
      </div>
    </div>
  </div>

  <!-- historique -->
  <div class="modal fade" id="modal_historique_doorstatus" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header ">
          <h1 class="modal-title fs-5">Historique Doors</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeDoorModal></button>
        </div>
        <div class="modal-body">
          <!-- Tri -->
          <div class="mb-3">
            <div class="row g-2">
              <!-- Doors -->
              <div class="col-md m-1">
                <div class="form-floating">
                  <select class="form-select" id="floatingSelectGrid" [(ngModel)]="filterCriteria.idDoor">
                    <option value="">All</option>
                    @for (item of api.les_doorstatuss; track $index) {
                    <option value="{{item.id}}">{{item.name}}</option>
                    }
                  </select>
                  <label for="floatingSelectGrid">Name</label>
                </div>
              </div>
              <!-- states -->
              <div class="col-md m-1">
                <div class="form-floating">
                  <select class="form-select" id="floatingSelectGrid" [(ngModel)]="filterCriteria.state">
                    <option value="">All</option>
                    <option value="opened">Opened</option>
                    <option value="closed">Closed</option>
                  </select>
                  <label for="floatingSelectGrid">States</label>
                </div>
              </div>
              <!-- Date/Time from -->
              <div class="col-md m-1">
                <div class="form-floating">
                  <input [(ngModel)]="filterCriteria.dateFrom" type="datetime-local" class="form-control"
                    id="floatingInputGrid">
                  <label for="floatingInputGrid">Date/Time De</label>
                </div>
              </div>
              <!-- Date/time to -->
              <div class="col-md m-1">
                <div class="form-floating">
                  <input [(ngModel)]="filterCriteria.dateTo" type="datetime-local" class="form-control"
                    id="floatingInputGrid">
                  <label for="floatingInputGrid">Date/Time A</label>
                </div>
              </div>
              <!-- button -->
              <button class="btn btn-outline-success" (click)="filterData()">Filtrer</button>
              <button class="btn btn-outline-info" (click)="downloadPDF()">Télécharger l'historique</button>
            </div>
          </div>
        </div>
        <!-- display of historique -->
        <div style="max-height: 400px; overflow-y: auto;">
          <div class="container-sm">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Num</th>
                  <th scope="col">User</th>
                  <th scope="col">Door</th>
                  <th scope="col">Action</th>
                  <th scope="col">Date/time</th>
                </tr>
              </thead>
              <tbody>
                @for (door of filteredData; track $index) {
                <tr>
                  <td>{{$index +1}}</td>
                  <td>{{door.firstName}}</td>
                  <td>{{door.name}}</td>
                  <td>{{door.state}}</td>
                  <td>{{api.format_date(door.updated_at).full_datetime}}</td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- opened -->
<div class="modal fade" id="modal_opened" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header ">
        <h1 class="modal-title fs-5"> {{"Voulez-vous "}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeEditDoorModal></button>
      </div>
      <div class="modal-body">
        <h2></h2>
        <app-edit-doorstatus *ngIf="doorstatus_to_edit" (cb_edit_doorstatus)="after_edit($event)"
          [doorstatus_to_edit]="doorstatus_to_edit"></app-edit-doorstatus>
        <!-- <app-add-doorhistorique *ngIf="doorstatus_to_edit" [idDoor]="doorstatus_to_edit.id" [state]="'opened'"
          (cb_add_doorhistorique)="after_open($event)" /> -->
      </div>
    </div>
  </div>
</div>
<!-- </div> -->