<nav class="navbar navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
            <!-- <h3 class="navbar-brand">WELCOM TO GREATWALL WEB SITE</h3> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                  data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                  aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
                  aria-labelledby="offcanvasDarkNavbarLabel">
                  <div class="offcanvas-header">
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                              aria-label="Close"></button>
                  </div>
                  <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                              <li class="nav-item">
                                    <a routerLinkActive="bg-primary text-white" *ngFor="let one_menu of menu.items"
                                          data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
                                          aria-controls="offcanvasDarkNavbar" [routerLink]="[one_menu.path]"
                                          class="nav-link text-center">
                                          {{one_menu.libelle}}
                                    </a>
                              </li>
                        </ul>
                  </div>
            </div>
      </div>
</nav>

<div>
      <div class="mt-5">

            <router-outlet></router-outlet>
      </div>
</div>