<div class="container-fluid">
      <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSaxxXY9TuP-8kovJxbgudXb52ZpNYBQmNLg&s" alt="" srcset=""> -->
      <nav class="navbar fixed-top ">
            <div class="container-fluid">
                  <div class="btn btn-outline-primary" style="width: 100px; height: auto;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSaxxXY9TuP-8kovJxbgudXb52ZpNYBQmNLg&s"
                              alt="" class="w-100 h-100">
                  </div>
                  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                        aria-labelledby="offcanvasNavbarLabel" style="width: max-content;">
                        <div class="offcanvas-header">
                              <button (click)="on_click_edit(this.api.token.user_connected)"
                                    class="btn btn-outline-primary" style="width: 80%" type="button"
                                    data-bs-toggle="modal" data-bs-target="#modal_edit_user" #closeEditUserModal>
                                    <i class="bi bi-person-lines-fill"></i>
                              </button>
                              <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body d-flex flex-column">
                              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                    @if (authority_id == 1) {
                                    <li class="nav-item">
                                          <button class="btn btn-outline-primary m-1" type="button"
                                                data-bs-dismiss="offcanvas" aria-label="Close"
                                                routerLinkActive="bg-primary text-white" style="width: 100%;"
                                                [routerLink]="[menu.items[2].path]">
                                                <i class="bi bi-people"></i>
                                                Users
                                          </button>
                                    </li>
                                    <li class="nav-item">
                                          <button class="btn btn-outline-primary m-1" type="button"
                                                data-bs-dismiss="offcanvas" aria-label="Close"
                                                routerLinkActive="bg-primary text-white" style="width: 100%;"
                                                [routerLink]="[menu.items[0].path]">
                                                <i class="bi bi-door-closed"></i>
                                                Doors
                                          </button>
                                    </li>
                                    <li class="nav-item">
                                          <button class="btn btn-outline-primary m-1" type="button"
                                                data-bs-dismiss="offcanvas" aria-label="Close"
                                                routerLinkActive="bg-primary text-white" style="width: 100%;"
                                                [routerLink]="[menu.items[1].path]">
                                                <i class="bi bi-person-walking"></i>
                                                Motions
                                          </button>
                                    </li>
                                    <li class="nav-item">
                                          <button class="btn btn-outline-primary m-1" type="button"
                                                data-bs-dismiss="offcanvas" aria-label="Close"
                                                routerLinkActive="bg-primary text-white" style="width: 100%;"
                                                [routerLink]="[menu.items[3].path]">
                                                <i class="bi bi-water"></i>
                                                Water Level
                                          </button>
                                    </li>
                                    <li class="nav-item">
                                          <button class="btn btn-outline-primary m-1" type="button"
                                                data-bs-dismiss="offcanvas" aria-label="Close"
                                                routerLinkActive="bg-primary text-white" style="width: 100%;"
                                                [routerLink]="[menu.items[4].path]">
                                                <i class="bi bi-shop-window"></i>
                                                Windows
                                          </button>
                                    </li>
                                    <li class="nav-item">
                                          <button class="btn btn-outline-primary m-1" type="button"
                                                data-bs-dismiss="offcanvas" aria-label="Close"
                                                routerLinkActive="bg-primary text-white" style="width: 100%;"
                                                [routerLink]="[menu.items[5].path]">
                                                <i class="bi bi-fire"></i>
                                                Smoke
                                          </button>
                                    </li>
                                    <li class="nav-item">
                                          <button class="btn btn-outline-primary m-1" type="button"
                                                data-bs-dismiss="offcanvas" aria-label="Close"
                                                routerLinkActive="bg-primary text-white" style="width: 100%;"
                                                [routerLink]="[menu.items[6].path]">
                                                <i class="bi bi-camera-reels"></i>
                                                Camera
                                          </button>
                                    </li>
                                    } @else {
                                    <li class="nav-item">
                                          <button class="btn btn-outline-primary m-1" type="button"
                                                data-bs-dismiss="offcanvas" aria-label="Close"
                                                routerLinkActive="bg-primary text-white" style="width: 100%;"
                                                [routerLink]="[menu.items[0].path]">
                                                <i class="bi bi-door-closed"></i>
                                                Doors
                                          </button>
                                    </li>
                                    <li class="nav-item">
                                          <button class="btn btn-outline-primary m-1" type="button"
                                                data-bs-dismiss="offcanvas" aria-label="Close"
                                                routerLinkActive="bg-primary text-white" style="width: 100%;"
                                                [routerLink]="[menu.items[1].path]">
                                                <i class="bi bi-person-walking"></i>
                                                Motions
                                          </button>
                                    </li>
                                    <li class="nav-item">
                                          <button class="btn btn-outline-primary m-1" type="button"
                                                data-bs-dismiss="offcanvas" aria-label="Close"
                                                routerLinkActive="bg-primary text-white" style="width: 100%;"
                                                [routerLink]="[menu.items[3].path]">
                                                <i class="bi bi-water"></i>
                                                Water Level
                                          </button>
                                    </li>
                                    <li class="nav-item">
                                          <button class="btn btn-outline-primary m-1" type="button"
                                                data-bs-dismiss="offcanvas" aria-label="Close"
                                                routerLinkActive="bg-primary text-white" style="width: 100%;"
                                                [routerLink]="[menu.items[4].path]">
                                                <i class="bi bi-shop-window"></i>
                                                Windows
                                          </button>
                                    </li>
                                    <li class="nav-item">
                                          <button class="btn btn-outline-primary m-1" type="button"
                                                data-bs-dismiss="offcanvas" aria-label="Close"
                                                routerLinkActive="bg-primary text-white" style="width: 100%;"
                                                [routerLink]="[menu.items[5].path]">
                                                <i class="bi bi-fire"></i>
                                                Smoke
                                          </button>
                                    </li>
                                    <li class="nav-item">
                                          <button class="btn btn-outline-primary m-1" type="button"
                                                data-bs-dismiss="offcanvas" aria-label="Close"
                                                routerLinkActive="bg-primary text-white" style="width: 100%;"
                                                [routerLink]="[menu.items[6].path]">
                                                <i class="bi bi-camera-reels"></i>
                                                Camera
                                          </button>
                                    </li>
                                    }
                                    <div class="mt-auto">
                                          <button class="btn btn-outline-danger" style="width: 100%;" type="button"
                                                (click)="api.deconnexion()">
                                                Disconnect
                                                <i class="bi bi-box-arrow-left"></i>
                                          </button>
                                    </div>
                              </ul>
                        </div>
                  </div>
            </div>
      </nav>



      <!-- alter user -->

      <div class="modal fade" id="modal_edit_user" data-bs-backdrop="static">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                  <div class="modal-content">
                        <div class="modal-header">
                              @if(this.api.token.user_connected.authority_id == 1){
                              <h1 class="modal-title text-center">Admin</h1>
                              }@else {
                              <h1 class="modal-title text-center">User</h1>
                              }
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                    (click)="on_close_modal_edit()"></button>
                        </div>
                        <div class="modal-body">
                              <app-profile *ngIf="user_to_edit" (cb_edit_user)="after_edit($event)"
                                    [user_to_edit]="user_to_edit"></app-profile>
                        </div>
                  </div>
            </div>
      </div>
      <div class="container-fluid">
            <router-outlet></router-outlet>
      </div>
</div>