body {
    background-color: #37474F;
    color: white;
}

.container{
    position: relative;
    width: 160px; /* Adjusted for table view */
    height: 100px; /* Adjusted for table view */
    /* border: 8px solid #CFD8DC; */
}

/*back side with img*/

.back {
    position: absolute;
    width: 80%;
    height: 100%;
}

.back > img {
    width: 100%;
    height: 100%;
}

/*windows container*/
.windows {
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

	/*left and right side of windows*/

.leftSide {
    position: absolute;
    width: 46%;
    height: 93%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 2s ease;
    border: 2px solid rgb(96, 125, 139);
}

.rightSide {
    position: absolute;
    width: 47%;
    height: 93%;
    left: 48%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 2s,border 2s, left 2s ease-in;
    border: 2px solid rgb(96, 125, 139);
}

.hover-effect{
    left: 10%;
}

