<!-- entete -->
<div class="d-flex align-items-center justify-content-between">
  <div class="fs-1">Les Doorhistoriques - {{les_doorhistoriques.length}}</div>
  <div class="d-flex">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_add_doorhistorique">Ajouter
      Doorhistorique</button>
  </div>
</div>
<!-- list -->
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">idUser</th>
        <th scope="col">idDoor</th>
        <th scope="col">state</th>
        <th scope="col">updated_at</th>
        <th scope="col">actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let one_doorhistorique of les_doorhistoriques">
        <td>{{one_doorhistorique.idUser}}</td>
        <td>{{one_doorhistorique.idDoor}}</td>
        <td>{{one_doorhistorique.state}}</td>
        <td>{{one_doorhistorique.updated_at}}</td>
        <td>
          <div class="dropdown">
            <button [disabled]="loading_delete_doorhistorique" type="button" class="btn p-0 dropdown-toggle hide-arrow"
              data-bs-toggle="dropdown">{{loading_delete_doorhistorique?"en cours ...":"actions"}}</button>
            <div class="dropdown-menu">
              <a (click)="on_click_edit(one_doorhistorique)" class="dropdown-item" data-bs-toggle="modal"
                data-bs-target="#modal_edit_doorhistorique">
                <i class="bx bx-edit-alt me-1"></i>
                Modifier
              </a>
              <a class="dropdown-item" href="javascript:void(0);"
                (click)=delete_doorhistorique({id_doorhistorique:one_doorhistorique.id_doorhistorique})><i
                  class="bx bx-trash me-1"></i>Supprimer</a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- ajout -->
<div class="modal fade" id="modal_add_doorhistorique" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header " data-bs-theme="dark">
        <h1 class="modal-title fs-5">Ajouter Doorhistorique</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-add-doorhistorique (cb_add_doorhistorique)="after_add($event)"></app-add-doorhistorique>
      </div>
    </div>
  </div>
</div>
<!-- modification -->
<div class="modal fade" id="modal_edit_doorhistorique" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header" data-bs-theme="dark">
        <h1 class="modal-title fs-5">Modifier Doorhistorique</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="on_close_modal_edit()"></button>
      </div>
      <div class="modal-body">
        <app-edit-doorhistorique *ngIf="doorhistorique_to_edit" (cb_edit_doorhistorique)="after_edit($event)"
          [doorhistorique_to_edit]="doorhistorique_to_edit"></app-edit-doorhistorique>
      </div>
    </div>
  </div>
</div>